.headContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:60px;
    /* color:red; */
}

.headImage{
    width:auto;
    transition:max-width 1s, min-width 1s;
}

@media(max-width:767px){
    .headImageExpanded{
        
        min-width:230px;
        max-width:250px;
    }
    .headImageContracted{
        min-width:40px;
        max-width:60px;   
    }
    .headTextExpanded{
        font-size:36px;
        color:red;
    }
    
    .headTextContracted{
        font-size:12px;
        /* color:red; */
    }
}
.headImageExpanded{
        
    min-width:460px;
    max-width:500px;
}
.headImageContracted{
    min-width:80px;
    max-width:120px;   
}


.headText{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}

.headTextExpanded{
    font-size:72px;
}

.headTextContracted{
    font-size:24px;
}